@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>al comercial Santa clara.</p>
</div>
<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-image: url('/Imagenes/Warehouse.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        overflow: hidden;
    }
</style>